* {
    padding: none;
    margin: none;
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

/** LAYOUT **/

.Layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/** HEADER **/

.header-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-div h2 {
    margin-left: 0.5rem;
    color: black;
    font-weight: 500;
}

.header-div img {
    margin-left: 0.5rem;
    height: 50px;
}

/** SEARCHBAR **/

.searchbar-div {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    outline: none;
}

.searchbar-div input {
    border: none;
    border-bottom: 2px solid grey;
    padding: 5px 1rem 5px;
    font-size: 1rem;
}

#searchicon {
    color: grey;
    margin-left: 0.3rem;
    margin-top: 5px;
    cursor: pointer;
}

/** FLEXBOX **/

.flexbox {
    display: flex;
    flex-direction: column;
    border: 0.1px solid black;
    width: 50%;
    align-self: center;
}