//variables

$full: 100%;
$yellow: #ffff66;
$bk: #000;
$breakpoint-tablet: 968px;

//mixins

@mixin gen {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px auto 20px;
  background-color: $yellow;
  :focus {
    outline: none;
  }
  height: 100vh;
}

@mixin grid {
  grid-area: 2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin outline {
  color: $yellow;
  text-shadow: -0.55px 0 black, 0 0.55px black, 0.55px 0 black, 0 -0.55px black;
  -webkit-font-smoothing: antialiased;
}

//css

html,
body,
#root {
  height: 100vh;
}

html .Layout {
  @include gen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Layout-DIV {
  background-color: $yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  @media (max-width: 690px) {
    flex-direction: column;
    height: 100%;
  }
}

.HeaderBig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderBig img {
  width: 265px;
}

.HeaderBig h2 {
  font-size: 26px;
  margin-top: 15px;
}

.header-div-medium {
  display: flex;
  flex-direction: column;
  img {
    width: 265px;
  }
  h2 {
    font-size: 26pt;
    margin-top: 15px;
  }
  @media (max-width: $breakpoint-tablet) {
    img {
      width: 215px;
    }
    h2 {
      font-size: 29pt;
    }
  }
  @media (max-width: 690px) {
    height: auto;
    img {
      width: 55px;
      margin-bottom: -0.5px;
    }
    h2 {
      display: none;
    }
  }
}
.header-small {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 265px;
}
.headersmall-div {
  img {
    width: 55px;
    margin-bottom: -4.6px;
  }
}

.searchbar-div {
  grid-area: 2/2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .searchbar {
    background-color: $yellow;
    border: none;
    border-bottom: 2px solid black;
  }
}

.Week-div {
  width: 265px;
}

//Flexbox

.header-flexbox {
  display: flex;
}
.header-flexbox h3,
.header-flexbox h5 {
  margin-bottom: 0;
  text-transform: uppercase;
  width: 49%;
}

.Header-tempimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 265px;
  margin-bottom: 0px;
  justify-content: space-between;
  .Temp-flexbox {
    @include outline;
    font-size: 2rem;
  }
}
.Icon-flexbox {
  height: 4rem;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin: 10px 0px;
  font-size: 1rem;
  font-weight: 400;
}
.flexbox {
  grid-area: 2/2;
  display: flex;
  flex-direction: column;

  // weekly forecast
}
.weekly-schedule-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 265px;
  justify-content: space-between;

  p {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 900;
  }
  span {
    @include outline;
  }
  .weekly-schedule-tempimg {
    display: flex;
    flex-direction: row;
    width: 90px;
    align-items: center;
    justify-content: space-between;
  }
}

.header-searchbar-smalldiv {
  @media (max-width: 690px) {
    display: flex;
    width: 265px;
    justify-content: space-between;
    align-items: flex-end;
  }
}
